# dependencies
/node_modules

# npm-shrinkwrap.json and yarn.lock are used to guarantee
# the exact versions of your npm dependencies and are
# not meant to be committed
npm-shrinkwrap.json
yarn.lock

# other
.vscode
.DS_Store
.env